// stylesheets/common/skip-email-verification.scss
// (Same SCSS as before - no changes needed here)
body.admin-page {
  &.site_settings {
    .site-setting-row[data-setting-name="skip_email_verification_suspend_duration"] {
      input[type="number"] {
        &[value] {
          &[value$="."] {
            border-color: #ccc !important;
            box-shadow: none !important;
          }

          &:not([value^="-"]):not([value^="."]) {

             $min: 0;
             $max: 3600;

             @if not tonumber(attr(value)) {
               border-color: #dc3545 !important;
               box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
             } @else {

               @if (tonumber(attr(value)) < $min) or (tonumber(attr(value)) > $max)
               {
                   border-color: #dc3545 !important;
                   box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
               }
               @else
               {
                   border-color: #ccc !important;
                   box-shadow: none !important;
               }
             }

          }
        }
      }
    }
  }
}
